@use "../_partials/mixins";

.plan-option-card {
  display: block;
  padding: 20px 10px;
  background-color: #36454f;

  .footer {
    display: block;
    padding-top: 20px;
    position: relative;
    &::before,
    &::after {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;
      position: absolute;
      top: calc(-2.3em / 2);
    }

    &::before {
      left: -33px;
    }

    &::after {
      right: -33px;
    }
  }
}

input[type="radio"][name="plan-option"] {
  position: absolute;
  visibility: hidden;
  &:checked {
    & + label {
      color: red;
      .plan-option-card {
        background-color: var(--clr-secondary-500);
      }
    }
  }
}

@include mixins.maxmq(426px) {
  .plan-option-card {
    overflow: hidden;
    .footer {
      &::before,
      &::after {
        height: 15px;
        width: 15px;
        top: calc(-2.3em / 2);
      }

      &::before {
        left: -25px;
        // background-color: red;
      }

      &::after {
        right: -25px;
        // background-color: black;
      }
    }
  }
}

.default-payment-card {
  .title {
    &::after {
      content: "Default";
    }
  }
}
