.qrcode-container {
  text-align: center;
  margin-top: 50px;
//   background-color: red;
  canvas{
    // width: 100% !important;
    // max-width: 200px !important;
    // height: auto !important;
    // margin: 0 auto;
    // color: red !important;
  }
}


.qrcode-container {
  margin-top: 20px;
}
